@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
  // overflow-y: scroll;
}

body {
  height: 100vh;
  margin: 0;
  // font-family: "Barlow", sans-serif;
  // font-family: "JetBrains Mono", monospace;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

// =================================================================================
//                                   Header (Mobile)
// =================================================================================
.nav-container {
  a {
    color: #f2f2f2;
  }
}

header {
  background-color: #2c67ff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

  .logo {
    font-weight: 700;
    font-size: 1.5rem;
  }

  nav {
    float: right;
    ul {
      display: flex;
      a {
        display: block;
        text-decoration: underline;
        padding: 0 0.5em;
      }
    }
  }
}

// =================================================================================
//                                Hero Section (Mobile)
// =================================================================================

.hero {
  background: image("../images/comp4.mp4");
  background-color: #2c67ff;
  color: #f2f2f2;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
  height: 80vh;
  h1 {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
  }
  .job-title {
    font-size: 1.125em;
    padding: 0 2em;
    // padding: -1em;
    margin-bottom: 2em;
    width: unset;
  }
}

.more-about {
  margin: 0 2em;
  padding: 0 2em;
  margin-bottom: 4em;
  background-color: #f2d32c;
  color: #333;
  font-weight: 600;
  padding: 0.5em;
  font-size: 0.875em;
  display: flex;
  justify-content: center;
  span {
    display: none;
  }
}

.about-ps {
  padding: 0 4em;
  margin-top: 1em;
  background-color: #f2d32c;
  color: #333;
}

.right-col {
  display: none;
}

.scroller {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
  img {
    width: 40px;
  }
}

// =================================================================================
//                              Projects Sectio (Mobile)
// =================================================================================
.project-container {
  background-color: #fff;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  a {
    text-decoration: none;
    color: #333;
  }
  .description {
    display: block;
  }
}
.project-img {
  width: 100%; //check this width again!!
  height: 264px;
  margin-bottom: 1em;
  object-fit: cover;
}
.project-title {
  text-align: left;
  display: inline-block;
  flex-direction: row;
  align-items: start;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  .link-svg {
    display: inline-block;

    img {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
  }
  a {
    display: inline-block;
  }
}
.project-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0.5em;
}

// =================================================================================
//                                Hire Me Section (Mobile)
// =================================================================================
.hire-me {
  background-color: #f2f2f2;
  color: #333;
  h1 {
    text-decoration: underline;
  }
}

#custom-tooltip {
  display: none;
  background-color: #000;
  color: #f2f2f2;
  padding: 0.5em;
  // clip: rect(1px, 1px, 1px, 1px);
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  color: #333;
  margin-top: 24px;
  i {
    margin-right: 0.5em;
  }
  path {
    fill: #333;
  }
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.social-icon {
  // padding-right: 2em;
  img {
    width: 1.5em;
  }
}

// =================================================================================
//
//                                  Desktop View
//
// =================================================================================

@media only screen and (min-width: 1024px) {
  // =================================================================================
  //                                      #Cursor
  // =================================================================================
  .cursor,
  .cursor2,
  .cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(15px) translateY(15px);
    pointer-events: none;
    left: -100px;
    top: 50%;
    z-index: 4;
  }
  .cursor {
    background-color: #2c67ff;
    height: 0;
    width: 0;
  }
  .cursor2,
  .cursor3 {
    height: 0px;
    width: 0px;
    transition: all 200ms ease-out;
    background-position: center;
    background-size: 0 0;
  }
  .cursor2.hover,
  .cursor3.hover {
    height: 220px;
    width: 320px;
    border: none;
    transition: all 0.2s ease-out;
    border-radius: 8px;
  }
  .cursor2 {
    // border: 2px solid #2c67ff;
    background-color: transparent; //cursor follower color
    // box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
  }
  .cursor2.hover {
    background-size: cover;
    // box-shadow: 0 0 0 rgba(16, 39, 112, 0.2);
  }
  body.img-1-wrap .cursor2,
  .cursor3 {
    background-image: url("../images/research.gif");
  }
  body.img-2-wrap .cursor2,
  .cursor3 {
    background-image: url("../images/wireframe.gif");
  }
  body.img-3-wrap .cursor2,
  .cursor3 {
    background-image: url("https://assets.codepen.io/1462889/sl3.jpg");
  }
  body.img-4-wrap .cursor2,
  .cursor3 {
    background-image: url("https://assets.codepen.io/1462889/sl4.jpg");
  }
  body.img-5-wrap .cursor2,
  .cursor3 {
    background-image: url("https://assets.codepen.io/1462889/sl4.jpg");
  }
  body.img-6-wrap .cursor2,
  .cursor3 {
    background-image: url("https://assets.codepen.io/1462889/sl4.jpg");
  }
  body.mail-wrap .cursor2,
  .cursor3 {
    background-image: none;
    height: 36px;
    width: 36px;
    // z-index: -1;
    z-index: 5;
  }
  body.mail-wrap .cursor2.hover,
  body.mail-wrap .cursor3.hover {
    height: 42px;
    width: 42px;
    transform: scale(2) translateX(-25%) translateY(-25%);
    border-radius: 50%;
    background-color: #f2d32c;
    // background-color: #000;
    // mix-blend-mode: overlay;
    transition: all 0.08s ease-out;

    &::before {
      content: "copy!";
      background-color: transparent !important;
      color: #333;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      font-size: 10px;
    }
  }

  .right-col-wrap .cursor2,
  .cursor3.hover {
    background-image: none;
    background-color: transparent;
    height: 50px;
    width: 400px;
    // z-index: -1;
    z-index: 5;
    transform: translateX(-217px) translateY(35px);

    &::before {
      // background-color: rgba(0, 0, 0, 0.3);
      background-color: rgb(252, 86, 86);
      border-radius: 50px 0px 50px 50px;
      content: "scroll down to see my work 👇";
      font-size: 14px;
      padding: 1em;
      color: #fff;
    }
  }

  body.more-about-wrap .cursor2 {
    height: 42px;
    width: 42px;
    // transform: scale(2) translateX(-25%) translateY(-25%);
    border-radius: 50%;
    mix-blend-mode: overlay;
    transform: scale(2) translateX(80px) translateY(0px);
    transition: all 0.2s ease-out;

    &::before {
      content: "--";
      // background-color: transparent !important;
      background-image: url("../images/cat-kitten.gif");
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 1;
      width: 300px;
      height: 200px;
      color: #f2f2f2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      font-size: 10px;
    }
  }

  .right-col:hover {
    cursor: url("../images/cursor.svg"), auto;
  }

  .right-col {
    // cursor: none;
  }

  .hover-target {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #333;
    transition: color 250ms ease;
    cursor: none;
  }
  .hover-target:before {
    position: absolute;
    content: "";
    height: 0;
    bottom: 0;
    left: -10px;
    z-index: -1;
    width: calc(100% + 20px);
    display: block;
    background-color: #000;
    transition: height 250ms ease;
    // mix-blend-mode: difference;
    opacity: 1;
  }
  .hover-target:hover:before {
    height: 100%;
  }
  .hover-target:hover {
    z-index: 5;
    color: #f2f2f2;
  }

  // =================================================================================
  //                                    Hero Section
  // =================================================================================
  .max-hero {
    display: flex;
    height: auto;
    min-height: 100vh;
  }
  .nav-container {
    padding: 0;

    header {
      padding-left: 6em;
      padding-right: 6em;
    }
  }
  .hero {
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    .content {
      padding: 0 6em 0 6em;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
    }
    h1 {
      font-size: 2.5em;
      margin: 0 0 0.5em 0;
      font-weight: 700;
    }
    .job-title {
      padding: 0;
      font-size: 1.25em;
    }
  }

  .more-about {
    margin: 0;
    background-color: #e1e1e150;
    color: #2c67ff10;
    padding: 0.5em;
    font-size: 0.875em;
    width: 100%;
    justify-content: center;
    animation: bounce 3.5s infinite;

    p {
      display: none;
    }

    span {
      display: inline;
      color: #fff;
      font-weight: 700;
    }
  }

  @keyframes bounce {
    0% {
      background-color: #e1e1e150;
    }
    50% {
      background-color: #e1e1e180;
    }
    100% {
      background-color: #e1e1e150;
    }
  }

  .more-about:hover {
    background-color: #f2d32c;
    color: #000;
    animation: none;
    justify-content: start;

    p {
      display: inline;
    }

    span {
      display: none;
    }
  }

  .about-ps {
    padding: 0;
    margin-top: 1em;
    background-color: #f2d32c;
    color: #333;
  }

  .left-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    // align-items: center;
    width: 100%;
  }

  // =================================================================================
  //                                    Hero Video
  // =================================================================================

  .right-col {
    background: #2c67ff;
    display: inline-block;
    position: relative;
    width: 0;
    padding-top: 0%;
    padding-bottom: 0px;
    padding-left: 56.369vh;
    // padding-right: 24vh;

    video {
      position: absolute;
      top: 0%;
      right: 0;
      left: 0%;
      width: 100%;
      height: 100%;
      max-height: 100vh;
    }
  }

  section {
    padding-left: 6em;
    padding-right: 6em;
  }

  // =================================================================================
  //                                   Projects Section
  // =================================================================================
  .projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-container {
    width: 46%;
    padding: 1em;
    text-align: left;
    a {
      text-decoration: none;
      color: #333;
    }
  }
  .project-container:hover {
    background: linear-gradient(
        157deg,
        rgb(255 191 112 / 88%),
        rgb(255 0 0 / 27%) 70.71%
      ),
      linear-gradient(127deg, rgb(255 230 194 / 80%), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(176deg, rgb(215 255 0 / 70%), rgb(238 255 218) 70.71%);
  }

  // =================================================================================
  //                                    Hire Section
  // =================================================================================
  .hire-me {
    background-color: #f2f2f2;
    color: #333;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    h1 {
      font-size: 3em;
      text-decoration: none;
    }
  }

  #custom-tooltip {
    display: none;
    background-color: #000;
    color: #f2f2f2;
    padding: 0.5em;
    margin: 1em 1em 0 -10px;
    transition: all 1s ease-out;
    // clip: rect(1px, 1px, 1px, 1px);
  }

  .resume {
    color: #333;
    path {
      fill: #333;
    }
  }

  .social-icons {
    margin-top: 1.5em;
    display: flex;
    justify-content: start;
    img {
      height: 2em;
    }
  }
}
